header {
  background-color: lightblue;
  width: 100%;
}

h2 {
  text-align: left;
}

ul {
  color: #ffffff;
  text-align: right;
}

/* list items in navigation bar */
li {
  display: inline;
  font-size: 40px;
  list-style-type: none;
}

/* boxes */
img {
  display: block;
  margin: 0 auto;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

/* box 3 */
#image-3 {
  /* display: none; */
}
