section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 15px; /* added padding */
  border: 10px solid darkblue; /* added a border */
  margin: 20px; /* added margin */
  }
